<form method="post" action="{{ path('articles_delete', {'idarticles': article.idarticles}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cet article?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.idarticles) }}">
    <button class="btn">Supprimer</button>
</form>
